{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
<!--Bootstrap starts here-->
<div class="container-fluid my-4">
<div class="card mb-3">
    <img src="https://source.unsplash.com/1000x500/?nature,lakes" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mountains</h5>
      <p class="card-text">Mountains are some of the most awe-inspiring and majestic features on Earth. They can be found all over the world, and they come in all shapes and sizes. Some mountains are tall and craggy, while others are smooth and rounded. Mountains can be found in both tropical and polar climates, and they play an important role in the Earth's ecosystem.</p>
      <a href="/mountains">
        Clickiew here to view full blog
   </a>
    </div>
  </div>
  <img src="https://source.unsplash.com/1000x500/?nature,water" class="card-img-top" alt="...">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lakes</h5>
      <p class="card-text">Lakes are bodies of water that are surrounded by land. They are found on every continent and in every kind of environment—in mountains and deserts, on plains, and near seashores. Lakes vary greatly in size. Some measure only a few square meters and are small enough to fit in your backyard. Others are enormous, like the Caspian Sea, which is the largest lake in the world.</p>
      <a href="/mountains">
        Click here to view full blog
   </a>
    </div>
  </div></div>
{% endblock%}