{% extends 'base.html' %}
{% block title %}Mountains{% endblock %}

{% block content %}
<div class="container-fluid my-4">
    <div class="card mb-3">
        <img src="https://source.unsplash.com/1000x500/?nature,lakes" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
<!--Card starts here-->
<div class="card">
    <div class="card-header">
      Mountains
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Mountains are some of the most awe-inspiring and majestic features on Earth. They can be found all over the world, and they come in all shapes and sizes. Some mountains are tall and craggy, while others are smooth and rounded. Mountains can be found in both tropical and polar climates, and they play an important role in the Earth's ecosystem.</p>
        <p>Mountains are formed by the movement of tectonic plates. When two plates collide, one plate is forced beneath the other. This process, called subduction, can cause the land to rise, forming mountains. Mountains can also be formed by volcanic activity. When a volcano erupts, it can spew lava and ash high into the atmosphere. This material can cool and solidify, forming mountains.</p>
        <p>Mountains are home to a wide variety of plants and animals. The higher altitudes of mountains are often cold and dry, which limits the types of plants that can grow there. However, there are many types of shrubs, grasses, and wildflowers that can thrive in these conditions. Mountain forests are home to a variety of trees, including pines, firs, and spruces. These forests provide habitat for a wide variety of animals, including deer, elk, bears, and mountain lions.</p>
        <p>Mountains are important for many reasons. They provide a source of water for rivers and streams. They also help to regulate the Earth's climate. Mountains trap heat, which helps to keep the Earth warm. They also release water vapor into the atmosphere, which helps to form clouds and rain. Mountains are also important for recreation. People enjoy hiking, camping, skiing, and snowboarding in the mountains.</p>
        <p>Mountains are a vital part of the Earth's ecosystem. They provide us with water, regulate our climate, and offer us a place to enjoy the outdoors. We should all do our part to protect these amazing natural features.</p>
        <footer class="blockquote-footer">Written by: <cite title="Source Title">Ghoul</cite></footer>
      </blockquote>
    </div>
  </div>
  <a href="/">
    Back to Home Page
</a>
{% endblock %}